@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@500&display=swap');

.page {
    min-height: 100vh;
    display: grid;
}

.page__title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2.6em;
    color: #1a2f59;
}
.parting__line{
    border: solid 2px #b5b8bf;
    border-radius: 3px;
    z-index: 0;
    width: 92vw;
    position: absolute;
    margin-top: 9vh;
}

.page__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.page__column1 {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.logo-img {
    display: block;
    margin: auto;
}

.form {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: #F2F6F8;
}

.cancel__area{
    padding-bottom: 3vh;
}

.textarea {
    display: block;
    padding: 1rem;
    background-color: inherit;
    width: 100%;
    border-radius: .5rem;
    resize: none;
    min-height: 5rem;
    border: 2px solid #3437d8;
    
}
.textarea:focus {
    outline: none;
}