.login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #E8F6FA;

    background-image: url(../images/wave.svg);
    background-repeat: no-repeat;
}

.titles {
    position: relative;
    z-index: 2;
    margin-top: 2rem;
    padding-left: 3rem;
    margin-bottom: 3rem;
    color: white;
}

.titles__subtitle {
    text-shadow: -2px 3px 2px #000000;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}   

.titles__title {
    text-shadow: -2px 3px 2px #000000;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.4rem;
}

.centrar__form{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 500px;
    display: flex;
    gap: 1.4rem;
    align-items: stretch;
    flex-direction: column;   
    align-self: center;
}

.form__text{
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;

}

.form__link {
    color: #3437d8;
    text-decoration: none;
    font-weight: bold;
}


@media screen and (max-width: 400px) {
    .login {
        background-size: 160vh;
    }

    .form {
        width: 80%;
    }
}