/* :root {
    --color1: #E8F6FA;
    --color2: #1A2F59;
    --color3: #D0E2ED;
    --color4: #94D7FF;
    --main: #3437d8;
    --sizeButtonSearch: 40px;
    --sizeHeightContainerCards: 500px;
} */

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}



.error {
    color: hsl(0, 93%, 53%);
    font-weight: bold;

}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #94D7FF;
    border-radius: 50px;
}
